body{
    font-family: Poppins;
}
h1,h2,h3,h4,h5,h6{
    font-family: Montserrat;
}

p{
    color: #748182;
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
}

.home{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(imgs/bg.jpg);
    height: 100vh;
    /* background-position: top; */
    /* background-position: 0px -900px; */
    background-position: 0px 0px;
    /* background-attachment: fixed; */
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.home .social-icons span{
    background-color:  rgba(0, 0, 0, 0.3);
    /* background-color: red; */
}

.home h1::after{
    content: "";
    animation: header-animation ease;
    animation-duration: 6s;
    animation-iteration-count: infinite;

}

@keyframes header-animation {

    0%{
        content: "Designer|";
    }

  

    10%{

        content: "Designer|";
    }



    20%{

        content: "Designer|";
    }

    21%{
        content: "Designe|";
    }
    22%{
        content: "Design|";
    }
    23%{
        content: "Desig|";
    }
    24%{
        content: "Desig|";
    }
    25%{
        content: "Des|";
    }
    27%{
        content: "De|";
    }
    28%{
        content: "D|";
    }

    32%{

        content: "|";
    }

    33%{

        content: "Developer|";
    }


    43%{

        content: "Developer|";

    }

    53%{
        content: "Developer|";
    }
    54%{
        content: "Develope|";
    }
    55%{
        content: "Develop|";
    }
    56%{
        content: "Develo|";
    }
    57%{
        content: "Devel|";
    }
    58%{
        content: "Deve|";
    }
    59%{
        content: "Dev|";
    }
    60%{
        content: "De|";
    }
    61%{
        content: "D|";
    }

    65%{

        content: "|";
    }

    66%{

        content: "Larry Daniels|";
    }


    76%{

        content: "Larry Daniels|";
    }

     86%{
        content: "Larry Daniels|";
    }
     87%{
        content: "Larry Daniel|";
    }
     88%{
        content: "Larry Danie|";
    }
     89%{
        content: "Larry Dani|";
    }
     90%{
        content: "Larry Dan|";
    }
     91%{
        content: "Larry Da|";
    }
     92%{
        content: "Larry D|";
    }
     93%{
        content: "Larry|";
    }
     94%{
        content: "Larr|";
    }
     95%{
        content: "Lar";
    }
     96%{
        content: "La|";
    }
     97%{
        content: "L|";
    }


    99%{
        content: "|";
    } 

    100%{
        content: "|";
    }
    /* 0% {content: "|";}
    3% {content: "D|";}
    5% {content: "De|";}
    7% {content: "Dev|";}
    10% {content: "Deve|";}
    13% {content: "Devel|";}
    15% {content: "Develo|";}
    17% {content: "Develop|";}
    20% {content: "Develope|";}
    24% {content: "Developer|";}
    25% {content: "Develope|";}
    27% {content: "Develop|";}
    30% {content: "Develop|";}
    32% {content: "Develo|";}
    35% {content: "Devel|";}
    37% {content: "Deve|";}
    40% {content: "Deve|";}
    42% {content: "Dev|";}
    45% {content: "De|";}
    47% {content: "D|";}
    50% {content: "De|";}
    52% {content: "Des|";}
    55% {content: "Desi|";}
    57% {content: "Desig|";}
    60% {content: "Design|";}
    62% {content: "Designe|";}
    65% {content: "Designer|";}
    67% {content: "Designer|";}
    70% {content: "Designe|";}
    72% {content: "Design|";}
    75% {content: "Desig|";}
    77% {content: "Desi|";}
    80% {content: "Des|";}
    82% {content: "De|";}
    83% {content: "D|";}
    84% {content: "|";}
    85% {content: "|";}
    86% {content: "|";}
    87% {content: "|";}
    88% {content: " Larry hamada|";}
    89% {content: " Larry hamada|";}
    100% {content: " Larry hamada|";} */
    /* 87% {content: "Deve|";}
    90% {content: "Devel|";}
    92% {content: "Develo|";}
    95% {content: "Develop|";}
    97% {content: "Develope|";} */
    /* 100% {content: "Developer|";} */
  }

  .navbar{
    color: white !important;
  }

  .navbar-nav a{
    font-size: 14px;
  }

  .navbar-nav a::after{
    content: "";
    position: absolute;
    bottom: 0;
    top: 80%;
    left: 0;
    right: 0;
    height: 1px;
    width: 0;
    background-color: white;
  }

  .navbar-nav li .active::after{
    width: 100%;
  }

  .about .left::after{
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    left: -50px;
    bottom: -30px;
    /* bottom: 0px; */
    background-image: url(imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;
}

.about .right .sub-title{
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 450px !important;

}


.about .right .btn{
    padding: 10px 30px !important;
    border: 1px solid #1c1c1c !important;
    border-radius: 5px !important;
    font-size: 13px ;
    transition: all 0.5s;
}
.about .right .button1:hover{
    background-color: white !important;
    color: black !important;
}
.about .right .button2:hover{
    background-color: #1c1c1c !important;
    color:white !important;
}
/*                                               */
.header h3::after{
    content: "";
    position: absolute;
    width: 18%;
    height: 30px;
    bottom: -10px;
    left:41%;
    background-image: url(imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;
}
/*                                                  */

.services .item {
    padding: 50px 20px;
    background: #fff;
    /* -webkit-box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    border-radius: 5px;
}

.services .item .icon {
    font-size: 30px;
    margin-bottom: 20px;
    /* width: 70px;
    height: 70px; */
    line-height: 70px;
    background: #f4f4f4;
    /* border-radius: 50%; */
    transition: all 0.5s;
}

.services .item .icon i{
    width: 40px;
    height: 40px;
}

.services .item:hover .icon{
    background: #1c1c1c;
    color: #fff;
}

.services .item h6 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 18px;
}
.services .item p {
    word-spacing: 2px;
    font-size: 14px;
}
/* 
.portfolio .item-img-overlay {
    position: absolute;
    top: -5px;
    left: 5px;
    right: 5px;
    bottom: 15px;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: all 1s;
    z-index: 2;
    transform: translateY(10px);
} */
.portfolio .item-img-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: all 1s;
    z-index: 2;
}
.portfolio .items:hover .item-img-overlay{
    opacity: 1;
}
.portfolio .middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

.portfolio .item-img h6 {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 15px;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    transition: all 0.5s;
}
.portfolio .item-img .icon i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
}
.portfolio .item-img .icon i:hover{
    background: #eee;
    color: #111;
}

.team .card .card-top .social-layer{
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    text-align: center;
    /* width: 100%;
    height: 100%; */
    inset: 1px;
    top: 5;
    bottom: 5;
    right: 5;
    bottom: 5;
    opacity: 0;
    transition: 0.5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
}

.team .card .card-top img{
    transition: all 0.5s ease 0s;
}

.team .card .card-top img:hover{
    transform: scale(1.2);
}

.team .item:hover .social-layer{
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
}

.team .card .card-top .social-layer .social-links a{
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    display: block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.team .card .card-top .social-layer .social-links a:hover{
    background-color: #fff;
    color: black;
}

.contact .top .item .icon i{
    font-size: 25px;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #f4f4f4;
    transition: all 0.5s;
}

.contact .top .item:hover i{
    background: black;
    color: white;
}


.contact .form input[type="text"], .contact .form input[type="email"], .contact .form textarea {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
}

.form-control:focus{
    box-shadow: none !important; 

}
.form textarea:focus{
    box-shadow: none !important;
    outline: none;
}

.form input[type="submit"]{
    transition: all .5s;
}

.form input[type="submit"]:hover{
    background-color: white !important; 
    color: black !important;
    border: #000 solid 2px !important;
}